/* General */

body {
    background-color: gold;
    color: black;

}

.customButtonStyle {
    font-style: 'Gill Sans' !important;
    background-color: black !important;
    color: white !important;
}

.customTagStyle {
    border-radius: 40px;
}



@import url(https://fonts.googleapis.com/css?family=Lato:700|Merriweather:300,300italic,700);

h1,h2,h3,h4,h5,h6, li {
  font-family: "Gill Sans", sans-serif;
  font-weight: bold;
}
p,blockquote {
  font-family: 'Chaparral', serif;
  font-weight: bold;
}

.navbar li {
    font-family: "Gill Sans";
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
  min-height: 83vh;
}

/* Navbar */

.navbar {
    /*background-color: #00B0D8;*/
    background-color: black;
    border: none;
    border-radius: 0;
}

/* Nav Font */
.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>li>a:hover {
    color: grey;
}


.navLogo {
    height: 200%;
    padding: 0;
    margin: 0;
    position: relative;
    bottom: 10px;
    float: left;
}

.navbar-form {
    padding-right: 0;
}

/*.logoTitleRight {
    color: white;
    float: right;
    font-size: .7em;
}

.logoTitleLeft {
    color: white;
    float: left;
    font-size: .7em;
}*/

/* VCA */

.narration-button {
    display: inline;
    position: relative;
}

.mic-button {
    display: inline;
    position: relative;
}

.toggle.ios, .toggle-on.ios, .toggle-off.ios { 
    border-radius: 20px; 
}

.toggle.ios .toggle-handle { 
    border-radius: 20px; 
}

.vca-step-header {
    font-size: 6rem;
}

.vca-step {
    font-size: 3rem;
    max-width: 30em;
    text-align: left;
}



.carouselWrapper {
    
}

.carousel-inner {
    min-height: 70vh;
    /*min-width: 80vw;*/
    position: relative;
    text-align: center;
}


#carouselImg {
    opacity: 1;
    max-width: 40%;
    /*max-height: */
  
}


/*#myCarousel {
  margin-top: 40px;
}
*/
.carouselPagination {
    display: flex;
    justify-content: center;
}

.recipe-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 70vh;
    /*min-width*/: 80vw;
}


.carousel-control.left, .carousel-control.right {
    background-image: none;
} 




.carousel-linked-nav,
.item img {
  display: block; 
  margin: 0 auto;
}

.carousel-linked-nav a {
  display: block; 
  margin: 0 auto;
  width: 60px;
  text-align: center;
}

/*.pagination>li>a, .pagination>li>span {
    padding: 0;
    text-align: center;
}*/


/*.carousel-linked-nav {
  width: 60vw;
  height: auto;
  margin-bottom: 20px;   
}*/


/* Recipe Modal */

.modal-author {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.modal-name {
    text-align: center;
    display: inline;

}

.title-rating {
    text-align: center;
}

.modalTagHeader {
    margin-top: 0;
}


/* From https://codepen.io/chrisdpratt/pen/dmyne */
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    width: 10em;
    display: inline;
}

.rating input {
    position: absolute;
    left: -999999px;
}

.rating label {
    display: inline-block;
    font-size: 0;
}

.rating > label:before {
    position: relative;
    font: 24px/1 FontAwesome;
    display: block;
    content: "\f005";
    color: #ccc;
    background: -webkit-linear-gradient(-45deg, #d9d9d9 0%, #b3b3b3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > label.selected:before,
.rating > label.selected ~ label:before {
    color: #f0ad4e;
    background: -webkit-linear-gradient(-45deg, #fcb551 0%, #d69a45 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.ingrediant-list {
    border: 1px solid black;
    display: inline-block;
}

/* from http://red-team-design.com/css3-ordered-list-styles/  */

ol {
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    *list-style: decimal; /* Keep using default numbering for IE6/7 */
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0 0 0 1em;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.rounded-list a{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    background: #ddd;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;   
}

.rounded-list a:hover{
    background: #eee;
}

/*.rounded-list a:hover:before{
    transform: rotate(360deg);  
}*/

.rounded-list a:before{
    content: counter(li);
    counter-increment: li;
    position: absolute; 
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #87ceeb;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}





/* Logout */

.logout-header {
    font-size: 8rem;
}

.logout-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    width: 100%;
}


/* Welcome Page */

.welcome-title {
    text-align: center;
}

.welcome-signiture {
    padding-left: 4em;
}

.welcome-logo {
    width: 25%;
}

.welcomeHeader {
    font-size: 5em;
}

.welcomeContent {
    font-size: 2em;
}

/*footer*/

.site-footer {
    background-color: black;
    padding-top: 20px;
    text-align: center;
    color: white;
    width:auto;
}

a.footer-links {
    font-size: 1.15em;
    margin-top: 15px;
    padding: 10px;
    color: white !important;
}

.footer-copyright {
    font-size: .9em;
    margin-top: 20px;
    padding: 20px;
}


/*  Recipe Card  */
.line-clamp {
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
}

.recipe {
    height: 520;
}


/*   Account Page  */

.btn-edit-account {
    margin-top: 15px;
    margin-bottom: 30px;
}

.bottomPlacement {
    position: absolute;
    bottom: 0;
}

/* Wizard */

.wizardContainer {
    height: 90vh;
}



.hide {
    display: none;
}


/* Recipe Index */

.thumbnailStyle {
    height: 500px !important;
}

.bottomPlacement {
    margin-top: auto;
    margin-bottom: auto;
}

.recipeHeader {
    font-size: 1.5em;
}

.recipeBtn {
    
}

button.voter {
    background-color: transparent;
    border: none;
    font-size: 2em;
}

button.voter i {
    background-color: none;
    padding: 0;
    margin: 0;
}

#voteUpButton {
    position: relative;
    top: 12px;
}

#voteDownButton {
    position: relative;
    bottom: 12px;   
}

.votingInterface {
    background-color: none;
    display: inline-block;
    text-align: center;
    border-radius: 40px;
}

#voteScore {
    background-color: none;
    color: black;
    font-size: 1.3em;
}

.customParagraphPadding {
    /*padding-right: 0;*/
}

.customVotePadding {
    /*padding-left: 0;*/
    padding-right: 0;
}

/* About */

.bioPics {
    width: 50%;
}

