.logout-header {
	font-size: 8rem;
}

.logout-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 70vh;
	width: 100%;
}


/*footer*/

.footer {
	background-color: black;
	padding: 20px;
	text-align: center;
	color: white;
}

a.footer-links {
	font-size: 1.15em;
	color: white !important;
}

.footer-copyright {
	font-size: .9em;
}





